@import "bootstrap";
@import "font-awesome";
@import "simplemde.css";
@import "datepicker";
@import "fullcalendar.css";

html {
  height: 100%;
}

body {
  overflow: scroll;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

a.navbar-brand {
  padding: 9px 15px;

  img {
    height: 32px;
  }
}

.footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.modal-title {
  text-align:center;
  font-size:20px;
  font-weight:bold;
}

@media screen and (min-width: 768px){
  .modal .modal-dialog {
    webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}

.modal .modal-header {
  border-radius: 5px 5px 0 0;
  background-color:#fff;
}

.modal .modal-content {
  background-color:#fff;
  border-radius: 6px;
  padding:20px;
  box-shadow: none;
  background-clip:inherit;
}

.modal .modal-footer {
  background-color:#fff;
  border-radius: 0 0 5px 5px;
}

.vertical-center {
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
}

.required {
  color: red;
}